html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-lightest;
    overflow: hidden;
}

body {
    overflow-y: auto;

    .content-container {
        display: block;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }
}

@for $i from 1 through 9 {
    h#{$i} {
        margin-top: 0;
        margin-bottom: $spacing;
    }
}

.stretch-block {
    height: 100%;
    display: block;
}

[data-submit],
[data-remove] {
    cursor: pointer;
}

form {
    .help-block {
        font-size: 16px;
        display: block;
        margin: 0 auto 10px auto;

        &.error {
            color: red;
        }
    }
    .form-group {
        .error:not(.help-block) {
            border: 1px solid red;
        }
        .help-block {
            font-size: 12px;
            margin: 0 auto;


            &:before {
                content: "*";
            }
        }
    }
}